  <div class="label label-info">
    メッセージ一覧
  </div>
<div class="panel panel-default">

<!-- レスポンシブ対応のために div を追加 -->
<div class="table-responsive">
  <!-- テーブルにクラスを追加 -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>名前</th>
        <th>年齢(歳)</th>
        <th>内容</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.name %></td>
          <td><%= message.age %></td>
          <td><%= message.body %></td>
          <td><%= link_to "edit" , edit_message_path(message) %></td>
          <td><%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>


<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>